.container {
  min-height: 35vh;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: beige;
  font-weight: bold;
}
